.two{
    float:center;
    margin: 5px;
   width: 400px;
   height: 500px; 
   border-radius: 100%;
}
h1{ 
    color: black;
}
h2{
    color: black;
}
H4{
    text-align: center;
    color: black;
}
P{
    color: black;
    text-align: center;
    font-size: medium;
}
.t{
    color: black;
}

h5{
    color: black;
}
.one{
    width: 200px;
    height: 300px;
}
.o{
color: black
}
.box{
    height: 250px;
    width: 300px;
    margin: 10px;
    border-radius: 50%;
    padding: 10px;
    background-color:black;
}
.span{
    color:white;
    font-size: large;
}
.sp{
    color: white;
    font-size: small;
}
.pn{
    color: white;
    font-size: large;
}
.a{
    color: white;
    font-size: small;
}
.n{
    color: white;
    font-size: large;
}
.an{
    color: white;
    font-size: small;
}
.sa{ color: white; font-size: large;}
.ba{ color: white; font-size: small;}
.re{ color: white; font-size: large;}
.es{ color: white; font-size: small;}  
.h{ color: white; font-size: large;}
.ps{ color: white; font-size: small;}
H3{
    color: white;
}
h3{color: black;}
p{color: black;}
.abc{ text-indent: 50px; color: black;}

.f{ color: black;
}
.fa{
    float: right;
    margin-right: 10px;
 }
.st{color: black; text-indent: 250px;}
.sb{color: black; text-indent: 250px;}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;}
    .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;}
        .container::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            right: -17px;
            background-color: white;
            border: 4px solid #FF9F55;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
          }
          .left {
            left: 0;
          }
          .right {
            left: 50%;
          }
          .left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent white;
          }
          .right::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
          }
          .right::after {
            left: -16px;}
            .content {
                padding: 20px 30px;
                background-color: white;
                position: relative;
                border-radius: 6px;}
                .timeline::after {
                    left: 31px;
                  }
                  .container {
                    width: 100%;
                    padding-left: 70px;
                    padding-right: 25px;
                  }
                  .container::before {
                    left: 60px;
                    border: medium solid white;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent white transparent transparent;
                  }
                  .left::after, .right::after {
                    left: 15px;
                  } .right {
                    left: 0%;
                  }
                                            